/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #f4f4f4;
    color: #333;
}
/* Estilo para el cargador */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Fondo blanco */
    z-index: 9999; /* Para que esté sobre el contenido */
}

/* Estilo para el SVG (cargador) */
.spinner {
    width: 50px; /* Ajusta el tamaño del SVG */
    height: 50px;
}

/* Estilo para el contenido */
.hidden {
    display: none; /* Ocultar contenido al inicio */
}

/* Estilo para mostrar el contenido después de la carga */
.show {
    display: block;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px; 
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    box-shadow: 0 2px 1px  rgba(0, 0, 0, 0.1);
}

/* Logo - Reducido */
.logo-imagen {
    width: 90px; /* Reducido para mejorar el espacio */
    height: auto;
}

/* Navigation */
nav {
    flex: 1;
    text-align: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-left: -10px; /* Mueve los enlaces un poco hacia la izquierda */
}

.nav-list li {
    margin: 0 10px; /* Reducido de 15px a 10px */
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-list a:hover {
    background-color: #ff5a5f;
    transform: scale(1.1);
}

/* Shopping Cart Icon */
.icono-carrito {
    font-size: 22px;
    cursor: pointer;
    color: white;
}
/* Estilos para el buscador */
#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana para centrar verticalmente */
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: #0056b3;
    outline: none;
}

#search-button {
    display: block;
    width: 100%;
    background-color: #25D366;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px 0 0 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#search-button:hover {
    background-color: #004085;
    border-color: #004085;
}

#search-button:focus {
    outline: none;
}


/* Carrito emergente */
.carrito-popup {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 12px;
    z-index: 1000;
    transition: right 0.3s ease;
}

.carrito-popup.mostrar {
    right: 30px;
}

.carrito-popup h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #ff7e5f;
    padding-bottom: 10px;
}

/* Estilos para los elementos del carrito */
#lista-carrito {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

#lista-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#lista-carrito img {
    width: 50px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
}

#lista-carrito .nombre-producto {
    flex: 1;
    font-size: 1rem;
    color: #333;
}

#lista-carrito .cantidad {
    font-size: 1rem;
    color: #777;
    margin-right: 10px;
}

#lista-carrito .precio-producto {
    font-size: 1rem;
    font-weight: bold;
    color: #28a745;
}

/* Botones dentro del carrito */
#lista-carrito li button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lista-carrito li button:hover {
    background-color: #c82333;
}

#total-carrito {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    color: #333;
}

.btn-whatsapp {
    display: block;
    width: 100%;
    background-color: #25D366;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-whatsapp:hover {
    background-color: #1ebe5b;
    transform: scale(1.05);
}

.btn-cerrar {
    display: block;
    width: 100%;
    background-color: #dc3545;
    color: white;
    padding: 12px;
    font-size: 1.1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-cerrar:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/* Scroll personalizado para el carrito */
#lista-carrito {
    scrollbar-width: thin;
    scrollbar-color: #ff7e5f #f4f4f4;
}

#lista-carrito::-webkit-scrollbar {
    width: 8px;
}

#lista-carrito::-webkit-scrollbar-track {
    background: #f4f4f4;
}

#lista-carrito::-webkit-scrollbar-thumb {
    background-color: #ff768f;
    border-radius: 10px;
    border: 2px solid #f4f4f4;
}
.precio-original {
    text-decoration: line-through;
    color: #888; /* Un color gris para diferenciar */
    margin-right: 8px; /* Espacio entre el precio original y el de oferta */
}

/* Botones */
.btn-agregar {
    background-color: #ff768f;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #fc889d;
}

.btn-cerrar, .btn-whatsapp {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.btn-cerrar:hover, .btn-whatsapp:hover {
    transform: scale(1.05);
}

/* Productos */
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

.producto {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 180px;
    margin: auto;
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px 10px;
    text-align: center;
    border-top: 4px solid #ff7e5f; /* Línea superior en color llamativo */
    font-size: 0.9rem;
    position: relative;
}

/* Estilo de los enlaces en el footer */
footer a {
    color: #ff7e5f; /* Color llamativo para los enlaces */
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd1b3; /* Color más claro al pasar el ratón */
}

/* Iconos sociales */
.footer-icons {
    margin: 20px 0;
}

.footer-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer-icons a:hover {
    color: #ff7e5f;
    transform: scale(1.1); /* Animación al pasar el ratón */
}

/* Texto adicional */
.footer-text {
    margin-top: 15px;
    font-size: 0.8rem;
    color: #bbb;
}

@media (max-width: 768px) {
    footer {
        padding: 15px 5px;
        font-size: 0.8rem;
    }

    .footer-icons a {
        font-size: 1.2rem;
    }
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .productos {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: #ccc;
}